settings.ini
.vscode
/*.code-workspace
/*.ini
# Ignore all files in any directory named build
build/
build_*
build-*
installed
*/build*
.codebuddy/
.idea
.tools/
.tmp-*
WebViewApp/node_modules/
WebViewApp/*.tsbuildinfo
WebViewApp/playwright-report/
WebViewApp/test-results/
ReleaseX32/Plugins/WebViewToo/
ReleaseX32/WebViewApp/
ReleaseX64/Plugins/WebViewToo/
ReleaseX64/WebViewApp/
Setting/
Thread/Work[0-9]*.exe
