settings.ini
.vscode
/*.code-workspace
/*.ini
# Ignore all files in any directory named build
build/
build_*
build-*
installed
*/build*
.codebuddy/
.idea
.tools/*
!.tools/AutoHotkey/
!.tools/AutoHotkey/**
.tmp-*
WebViewApp/node_modules/
WebViewApp/*.tsbuildinfo
WebViewApp/playwright-report/
WebViewApp/test-results/
Runtimes/WebView2/Fixed/
ReleaseX32/
ReleaseX64/
Setting/
Thread/Work[0-9]*.exe
!Thread/Work1.exe
!Thread/Work2.exe
!Thread/Work3.exe
